body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.navbar-light .navbar-brand {
	color: rgba(0,0,0,.5);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

h1 {
	color: #f8f9fa;
	font-size: 5rem;
	text-shadow: 1px 2px 2px black;
	font-weight: 700;
}

h4 {
	color: #f8f9fa;
	font-size: 1.5rem;
	text-shadow: 1px 2px 2px black;
	text-transform: capitalize;
	font-weight: 700;
}

hr {
	width: 400px;
	border-color: rgba(248,249,250,.8);
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.fas.fa-paw,
.fas.fa-user {
	margin-right: 5px;
}

.fas.fa-user-plus {
	margin-right: 5px;
}

.btn.btn-light {
	margin-top: 7px;
}

